# Environment files
.env

# Output files
*.csv
*.xlsx
*.png
*.log
*.json
output/
debug/
scratch/


# Python cache / virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.pytest_cache/

# IDE files
.vscode/
.idea/
